<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>Home</title>
</head>
<body>
    <div class="top-container">
        <h1>Welcome to our website!</h1>
        <img class="imgage" src="https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074075.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706400000&semt=sph" alt="image">
    </div>
    <hr>
    <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>You can email me for any quries.</h3>
        <p class="contact-message">Feel free to ask anything.</p>
        <a class="btn" href="mailto:website@email.com">CONTACT ME</a>
    </div>
    <hr>
    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/">Twitter</a>
        <p class="copyright">© Website Name.</p>
    </div>
</body>
</html>
